#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-41e79997-3473-4377-a244-5dedb9c408e3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}