#s-4c588966-23f3-4159-82b3-acec889532ce #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Button_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Button_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c588966-23f3-4159-82b3-acec889532ce #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4c588966-23f3-4159-82b3-acec889532ce > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}