#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-WelcomeMsg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Quote {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}