#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-WelcomeMsg {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4D6565;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4D6565;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4D6565;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4D6565;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 356px;
  height: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Quote {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4D6565;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4D6565;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4D6565;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4D6565;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 203px;
  height: 120px;
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad #s-Button_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-58d10a9d-f7f7-4cf9-8aeb-f1a2b243c3ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}