#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Picture_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Star_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-scrollbar-1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -239px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-drag-scrollbar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b6fe5fc1-0e2e-4ed5-8617-a0e3a0078ed6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}