#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-DateLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-CategoryLabel {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96) ;
  filter: alpha(opacity=96) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-SumLabel {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=94) ;
  filter: alpha(opacity=94) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-SumText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Button_Submit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c77ad7d9-a076-454d-bd24-160ba6e5b190 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}