#s-da69963e-23d2-44a9-81b8-4b3d0669b61d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da69963e-23d2-44a9-81b8-4b3d0669b61d #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da69963e-23d2-44a9-81b8-4b3d0669b61d #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-da69963e-23d2-44a9-81b8-4b3d0669b61d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-da69963e-23d2-44a9-81b8-4b3d0669b61d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}