#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-White-background {
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81);
  filter: alpha(opacity=81);
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-checkbox-on-light_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}