#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 #s-checkbox-on-light_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-deb126e6-e71f-4518-867b-3b5aabd2b4b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}