#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dffb2588-b85c-4b14-a645-6ec29632360a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}