#s-e64ea595-a304-4871-ab78-fbc570c376de #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e64ea595-a304-4871-ab78-fbc570c376de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}