#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81) ;
  filter: alpha(opacity=81) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}