#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-White-background {
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #02BBD2;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 226px;
  height: 63px;
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_2 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=81);
  filter: alpha(opacity=81);
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Button_5 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e9b3c36c-ac87-4132-8cfa-cb56c98df8cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}