#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-White-background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe31b1d6-84a2-413c-ae33-ca977d978c12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}